<div class="container-fluid p-0">
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color:rgba(7, 211, 0, 0.918); width: 100%;">
      <ul class="navbar-nav mr-auto w-100">
        <li class="nav-item">
          <a class="nav-link" routerLink="/createUser"><b>Add New User</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="margin-left:1.5rem;" routerLink="/createProduct"><b>Add New Product</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="margin-left:1.5rem;" routerLink="/createOrder"><b>Add New Order</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="margin-left:1.5rem;" routerLink="/createOrderItem"><b>Add New Order Item</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="margin-left:1.5rem;" routerLink="/listUsers"><b>View all Users</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="margin-left:1.5rem;" routerLink="/listProductsByName"><b>View Products By Name</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="margin-left:1.5rem;" routerLink="/listOrdersByUser"><b>View Orders By User</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="margin-left:1.5rem;" routerLink="/listItemsByProduct"><b>View Items By Product</b></a>
        </li>
      </ul>
    </nav>
  </div>
  
  